body {
	font-family: Arial, sans-serif;
}

h1 {
	text-align: center;
}

button {
	padding: 10px;
	background-color: #4CAF50;
	color: white;
	border: none;
	border-radius: 5px;
}

button:hover {
	background-color: #3e8e41;
}
